@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

body {
    background-color: whitesmoke;
    font-family: 'Roboto', sans-serif;
}

body::before {
    content: '';
    background-image: url('https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/blta2b1167957d775df/629003b1d31030576a34bbcb/map1920x1080.jpg?auto=webp&disable=upscale&height=549');
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -2;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 100px;
}

.card {
    display: flex;
    width: var(--cardWidth);
    height: var(--cardHeight);
    background-color: var(--cardBg);
    position: relative;
}

.agent-img {
    width: 50%;
    height: var(--cardHeight);
    position: relative;
    background-color: var(--sageBg);
}

.agent-img::before {
    content: '';
    position: absolute;
    background: url(../img/background.png) center center no-repeat;
    background-size: contain;
    width: 110%;
    height: 110%;
    filter: brightness(200%);
}

.agent-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 120%;
    width: 120%;
}

.skills {
    display: flex;
    width: 50%;
}

.skills::before {
    content: '';
    background-image: linear-gradient(to bottom right, var(--sageBg) 50%, var(--cardBg) 50%);
    width: var(--effectWidth);
    height: var(--cardHeight);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -50%);
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    filter: brightness(0);
}

.skill img {
    width: 50px;
    height: 50px;
}

.description {
    display: flex;
    flex-direction: column;
}

.skill {
    color: white;
    font-size: var(--desc-size);
    font-weight: var(--desc-weight);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.skill h4 {
    font-size: var(--skillname-size);
    font-weight: var(--skillname-weight);
}

.skill:nth-child(1) {
    margin: 0 20px 0 50px;
}
.skill:nth-child(2) {
    margin: 0 40px 0 30px;
}
.skill:nth-child(3) {
    margin: 0 60px 0 10px;
}
.skill:nth-child(4) {
    margin: 0 80px 0 -10px;
}

.agent-list {
    display: flex;
    width: 800px;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
}

.agent {
    border: 2px solid var(--list-border);
    cursor: pointer;
    width: 75px;
    height: 75px;
    transition: .1s ease-in-out;
}

.agent:hover {
    border: 2px solid var(--list-border-hover);
    background-color: var(--list-bg-hover);
    transform: scale(1.06);
}

.agent img {
    width: 100%;
    height: 100%;
}